# Git ignore file for
# https://github.com/K-Kraken/cms-for-organisations

# Uploaded Files for certificate generation
members/CDS_Admin/Uploaded files/

#Uploaded files for mailing list updation
members/Mailing-list/Uploaded files/

# Generated Certificate
public/Generated Certificate/

# Generated Certificate
public/Generated Forms/*.html

# Test and Log Files
test-*.php
*.log

# Ignore Secrets (API Keys)
members/secrets_.php
*.zip
members/test.php
