<!-- Reusable Footer -->
<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center">
            Made with ❤️ by <a href="https://kanth.tech/github?utm_source=gh-rems">Krishnakanth</a> and
            <a href="https://www.linkedin.com/in/mahavisvanathan/">Mahalakshumi</a>
            <br>
            <small>Version {{ app_version }} —
                <a href="https://github.com/bearlike/REMS-For-Organisations">View on GitHub</a>
            </small>
        </div>
    </div>
</footer>
