<ul class="nav flex-column">
  <li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('forms.generator') }}">Form Generator</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('mailing.list_manager') }}">Mailing Lists</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('db.manage') }}">Database</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
</ul>
