<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Congratulations: SVCE-ACM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="600x600" href="{{ url_for('static', filename='assets/img/Logo_White.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1 class="display-5">Congratulations!</h1>
      <p class="lead"><strong>We have recieved your registration.</strong> You'll be reached by one of our executives shortly!</p>
      <hr>
      <p>Having trouble? <a href="mailto:acm.svcecse@gmail.com">Contact us</a></p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="https://svce.acm.org/" role="button">Continue to homepage</a>
      </p>
    </div>
    <div align="center" class="brands"><img src="{{ url_for('static', filename='assets/img/Logos-attached.png') }}"></div>
  </body>
</html>
