<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard: {{ org_name }}</title>
    <link rel="icon" type="image/png" sizes="600x600" href="{{ url_for('static', filename='assets/img/Logo_White.png') }}" async>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" async>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
  </head>
  <body id="page-top">
    <div id="wrapper">
      {% include 'partials/navigation.html' %}
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                        </div>
                    </form>
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                            <div class="toggle" id="mode_toggler" class="nav-link"></div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-bell fa-fw"></i>
                                    {% if alerts and alerts|length > 0 %}<span class="badge badge-danger badge-counter">{{ alerts|length }}</span>{% endif %}</a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-list animated--grow-in" role="menu">
                                    <h6 class="dropdown-header">alerts center</h6>
                                    {% if alerts %}
                                      {% for alert in alerts %}
                                        <a class="d-flex align-items-center dropdown-item" href="{{ alert.clickURL }}">
                                          <div class="mr-3">
                                            {% set icon_class = 'fas fa-file-alt' %}
                                            {% set bg_class = 'bg-primary' %}
                                            {% if alert.type == 'success' %}
                                              {% set icon_class = 'fas fa-crosshairs' %}
                                              {% set bg_class = 'bg-success' %}
                                            {% elif alert.type == 'info' %}
                                              {% set icon_class = 'fas fa-info-circle' %}
                                              {% set bg_class = 'bg-info' %}
                                            {% elif alert.type == 'warning' %}
                                              {% set icon_class = 'fas fa-exclamation-triangle' %}
                                              {% set bg_class = 'bg-warning' %}
                                            {% endif %}
                                            <div class="{{ bg_class }} icon-circle"><i class="{{ icon_class }} text-white"></i></div>
                                          </div>
                                          <div>
                                            <span class="small text-gray-500">{{ alert.timestamp }}</span>
                                            <p>{{ alert.message }}</p>
                                          </div>
                                        </a>
                                      {% endfor %}
                                    {% else %}
                                      <span class="text-center dropdown-item small text-gray-500">No new alerts</span>
                                    {% endif %}
                                    <a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                            <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                        </li>
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow" role="presentation">
                            {% if current_user is defined and current_user.is_authenticated %}
                            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{ current_user.name }}</span><img loading="lazy" class="border rounded-circle img-profile" src="{{ profile_pic }}" alt="Profile"></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                    <a class="dropdown-item" role="presentation" href="{{ url_for('profile.view_profile') }}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                    <a class="dropdown-item" role="presentation" href="{{ url_for('logs.list_logs') }}"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
          <div class="container-fluid">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
              <h3 class="text-dark mb-0">Welcome!</h3><a class="btn btn-danger btn-sm d-none d-sm-inline-block" role="button" href="https://github.com/bearlike/REMS-For-Organisations/issues" style="background-color: #ce1126;border-color: #e5053a;"><i class="fas fa-bug fa-sm text-white-50"></i>&nbsp;Raise a Issue</a>
            </div>
            {% block content %}
            <div class="row">
                <div class="col-md-6 col-xl-4 mb-4">
                    <div class="card shadow border-left-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Latest event registrations</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{ registration_count }}</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mb-4">
                    <div class="card shadow border-left-success py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Total events</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{ events_count }}</span></div>
                                </div>
                                <div class="col-auto"><i class="fas fa-calendar-check fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mb-4">
                    <div class="card shadow border-left-primary py-2">
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary m-0 font-weight-bold">Let's get started</h6>
                        </div>
                        <div class="card-body">
                            <p class="m-0">This is a software application to reduce amount of menial work we do. We know it is a tedious process to manually make forms, certificates, advertising via mail so we decided to automate that process. I guess it's all pretty</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-4">
                            </div>
                        </div>
                        <div id="newCol" class=""></div>
                    </div>
                </div>
            </div>
            {% endblock %}
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center">Made with ❤️ by <a href="https://thekrishna.in/">Krishnakanth</a> and <a href="https://www.linkedin.com/in/mahavisvanathan/">Mahalakshumi</a></div>
          </div>
        </footer>
      </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/dark-mode.js') }}"></script>
    <script>
        var isMobile = false; //initiate as false
        // device detection
        if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
        || /CrOS/i.test(navigator.userAgent)) {
            isMobile = true;
        }
        if(!(isMobile)){
            document.getElementById('newCol').classList.add('col');
        }
    </script>
  </body>
</html>
