<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
  </head>
  <body id="page-top">
    <div class="container-fluid">
      <div class="row">
        <aside class="col-md-2 bg-light py-4">
          {% include 'partials/navigation.html' %}
        </aside>
        <main class="col-md-10 mt-4">
          {% block content %}
          <h3>Welcome!</h3>
          <p class="mb-4">Latest event registrations: {{ registration_count }}</p>
          <p class="mb-4">Total events: {{ events_count }}</p>
          {% endblock %}
        </main>
      </div>
    </div>
  </body>
</html>
