<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Certificate Distribution System (CDS)</title>
    <link rel="icon" type="image/png" sizes="600x600" href="{{ url_for('static', filename='assets/img/Logo_White.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" async>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" async>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome5-overrides.min.css') }}">
  </head>
  <body class="bg-gradient-primary">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
          <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-lg-6 d-none d-lg-flex">
                  <div class="flex-grow-1 bg-password-image" style="background-image: url('{{ url_for('static', filename='assets/img/front/image2.png') }}');"></div>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h6 class="text-dark mb-2">SVCE-ACM Student Chapter</h6>
                      <h4 class="text-dark mb-2">Certificate Distribution System (CDS)</h4>
                      <p class="mb-4">We're here to make your life much easier. Just enter the event name and watch then watch happen!</p>
                    </div>
                    <form class="user" action="{{ url_for('public.home') }}" method="get">
                      <div class="form-group">
                        <input class="form-control form-control-user" type="text" placeholder="Enter Event Name..." name="event" required>
                      </div>
                      <button class="btn btn-primary btn-block text-white btn-user" type="submit">Search Event</button>
                    </form>
                    <div class="text-center">
                      <p class="mb-4 small" style="color: red;">
                        {% if event_not_found %}
                          Event not found. Are you sure you're spelling it right?
                        {% endif %}
                      </p>
                    </div>
                    <div class="text-center">
                      <hr>
                    </div>
                    <div class="text-center"><a class="small" href="{{ url_for('public.home') }}?mode">Don't Know the Event Name? Click here.</a></div>
                    <div class="text-center"><a class="small" href="{{ url_for('auth.login') }}">Are you a member? Login!</a></div>
                  </div>
                  <div class="text-center">
                    <p class="small">Made with ❤️ by <a href="https://thekrishna.in/">Krishnakanth</a> and <a href="https://www.linkedin.com/in/mahavisvanathan/">Mahalakshumi</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/dark-mode.js') }}"></script>
  </body>
</html>
