<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Login: {{ org_name }}</title>
  <link rel="icon" type="image/png" sizes="600x600" href="{{ url_for('static', filename='assets/img/Logo_White.png') }}" async>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}" async>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
</head>
<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-flex">
                <div class="flex-grow-1 bg-login-image" style="background-image: url('{{ url_for('static', filename='assets/img/front/image2.png') }}');"></div>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h6 class="text-dark mb-2">SVCE-ACM Student Chapter</h6>
                    <h4 class="text-dark mb-4">Members Portal</h4>
                  </div>
                  {% if error %}
                  <div class="alert alert-danger">{{ error }}</div>
                  {% endif %}
                  <form class="user" action="{{ url_for('auth.login') }}" method="post">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" placeholder="Enter Username..." name="uname" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control form-control-user" type="password" placeholder="Password (Shhh....)" name="password" required>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <div class="form-check">
                          <input class="form-check-input custom-control-input" name="remember" value="1" type="checkbox" id="formCheck-1">
                          <label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">Login</button>
                    <hr>
                  </form>
                  <div class="text-center"><a class="small" href="{{ url_for('auth.forgot_password') }}">Forgot Password?</a></div>
                  <div class="text-center"><a class="small" href="{{ url_for('public.home') }}">Looking for our Certificate Distribution System (CDS)?</a></div>
                </div>
                <div class="text-center"><p class="small">Made with ❤️ by <a href="https://thekrishna.in/">Krishnakanth</a> and <a href="https://www.linkedin.com/in/mahavisvanathan/">Mahalakshumi</a></p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
</body>
</html>
