<!doctype html>
<html lang="en">

<head id="head_tag">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Activity Log: {{ org_name }}</title>
  <link rel="icon" type="image/png" sizes="600x600" href="{{ url_for('static', filename='assets/img/Logo_White.png') }}"
    async>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" async>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
</head>

<body id="page-top">
  <div id="wrapper">
    {% include 'partials/navigation.html' %}
    <div class="container-fluid">
      <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Activity Log</h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-xl-3 mb-4"></div>
        <div class="col-md-6 col-xl-3 mb-4"></div>
        <div class="col-md-6 col-xl-3 mb-4"></div>
        <div class="col-md-6 col-xl-3 mb-4"></div>
      </div>
      <div class="card shadow">
        <div class="card-header py-3">
          <p class="text-primary m-0 font-weight-bold">Activity Log</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 text-nowrap">
              <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                <label>Show&nbsp;
                  <form action="{{ url_for('logs.list_logs') }}" method="GET">
                    <select onchange="this.form.submit()" name="perPage" class="form-control form-control-sm custom-select custom-select-sm">
                      <option value="10" {{ 'selected' if per_page == 10 else '' }}>10</option>
                      <option value="25" {{ 'selected' if per_page == 25 else '' }}>25</option>
                      <option value="50" {{ 'selected' if per_page == 50 else '' }}>50</option>
                      <option value="100" {{ 'selected' if per_page == 100 else '' }}>100</option>
                    </select>&nbsp;
                  </form>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-md-right dataTables_filter" id="dataTable_filter">
                <label></label>
              </div>
            </div>
          </div>
          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table dataTable my-0 table-md table-hover" id="dataTable">
              <thead>
                <tr>
                  <th class="table-info">Timestamp</th>
                  <th class="table-info">Log</th>
                </tr>
              </thead>
              <tbody>
                {% for log in logs %}
                <tr>
                  <td>{{ log.timestamp }}</td>
                  <td>{{ log.log }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th class="table-info">Timestamp</th>
                  <th class="table-info">Log</th>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="row">
            <div class="col-md-6 align-self-center">
              <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite"></p>
            </div>
            <form class="col-md-6" action="{{ url_for('logs.list_logs') }}" method="GET">
              <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                  <li class="page-item {{ 'disabled' if page == 1 else '' }}">
                    <button name="page" value="{{ page - 1 }}" class="page-link" aria-label="Previous" {{ 'disabled' if page == 1 else '' }}>
                      <span aria-hidden="true">«</span>
                    </button>
                  </li>
                  <input type="hidden" name="perPage" value="{{ per_page }}" />
                  {% for x in range(1, total_pages + 1) %}
                  {% if x == page %}
                  <li class="page-item active">
                    <button name="page" value="{{ x }}" class="page-link">{{ x }}</button>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <button name="page" value="{{ x }}" class="page-link">{{ x }}</button>
                  </li>
                  {% endif %}
                  {% endfor %}
                  <li class="page-item {{ 'disabled' if page == total_pages else '' }}">
                    <button name="page" value="{{ page + 1 }}" class="page-link" aria-label="Next" {{ 'disabled' if page == total_pages else '' }}>
                      <span aria-hidden="true">»</span>
                    </button>
                  </li>
                </ul>
              </nav>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  {% include 'partials/footer.html' %}
  </div>
  <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
</body>

</html>

