.logo {
  width: 100%;
  height: auto;
  padding-top: 5px;
  max-width: inherit;
}

@media screen and (max-width: 576px) {
  .logo {
    width: 100%;
    height: auto;
    max-width: inherit;
  }
}

.alert-success{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#mode_toggler{
    font-size: 22px !important;
    color: #f0e609;
}

.center{
    text-align:center !important;
}

.link_copy{
    display: inline-flex;
    width: 100%;
}

.link_copy a{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
}

::-webkit-file-upload-button {
  background: #4E73df ;
  color: #ffffff;
  border: 0px;
  padding-top:  5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
