.logo {
  width: 100%;
  height: auto;
  padding-top: 5px;
  max-width: inherit;
}

@media screen and (max-width: 576px) {
  .logo {
    width: 100%;
    height: auto;
    max-width: inherit;
  }
}

.alert-success{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#mode_toggler{
    font-size: 22px !important;
    color: #f0e609;
}
