
.bg-gradient-primary{
    background: #0B4444;
    background-image: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,0));
}

.bg-white{
    background-color: #121212 !important;
}

.btn-primary{
    background-color: #0B4444;
    border-color: #0B4444;
}

.btn{
    background-color: #0B4444;
    color: #ffffff;
    border-color: #0B4444;
}

.btn:hover{
        background-color: #179090;
        border-color: #179090;
}

#mode_toggler{
    color: #ffffff !important;
}

#content{
    background-color: #282828;
}

.card{
    background-color: #191919;
    border: 0px solid black;
    box-shadow: 0px 0px 0px #000 !important;
    color: #9ea1b6 !important;
}

.card .text-dark{
    color: #9ea1b6 !important;
}

.card-header{
    background-color: #0B4444;
    border-color: #0B4444;

}

.card-header .text-primary{
    color: #ffffff !important;
}

.form-control  {
    background-color: #121212 !important;
    border-color: #121212 !important;
}

.dropdown-menu{
    background-color: #202020 !important;
    border-color: #202020;
}

.dropdown-item{
    color: #ffffff !important;
    border-color: #202020 !important;
}

.dropdown-item:hover{
    color: #ffffff !important;
    background-color: #282828 !important;
    border-color: #282828 !important;
}

.dropdown-header{
    background-color: #0B4444 !important;
    border-color: #0B4444 !important;
}

.page-link{
    background-color: #121212 !important;
    border-color: #121212 !important;
}

.bg-light{
    background-color: #202020 !important;
}

.text-black-50{
    color: #ffffff !important;
}

.error:after, .error:before{
    background: #282828;
}

.alert-success{
    background-color: #0B4444;
    border-color: #0B4444;
    color: #ffffff;
}
#mail_shortened{
    background-color: #282828;
}

.form-control  {
    background-color: #121212 !important;
    border-color: #121212 !important;
    color: #ffffff;
}
.form-control::placeholder  {
    color:rgba(255,255,255,0.3);
	}
.card-body .form-control{
    background-color: #282828 !important;
    border-color: #282828 !important;
}

.text-dark{
    color: #FFFFFF !important;
}
