
.bg-gradient-primary{
    background: #0B4444;
    background-image: linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,0));
}

.bg-white{
    background-color: #121212 !important;
}

.btn-primary{
    background-color: #0B4444;
    border-color: #0B4444;
}

.btn{
    background-color: #0B4444;
    color: #ffffff;
    border-color: #0B4444;
}

#mode_toggler{
    color: #ffffff !important;
}

#content{
    background-color: #282828;
}

.card{
    background-color: #171717;
    border-color: #171717;
}

.card-header{
    background-color: #0B4444;
    border-color: #0B4444;

}

.card-header .text-primary{
    color: #ffffff !important;
}

.form-control  {
    background-color: #121212 !important;
    border-color: #121212 !important;
}

.dropdown-menu{
    background-color: #171717 !important;
    border-color: #171717;
}

.dropdown-item{
    color: #ffffff !important;
    border-color: #171717 !important;
}

.dropdown-item:hover{
    color: #ffffff !important;
    background-color: #282828 !important;
    border-color: #282828 !important;
}

.dropdown-header{
    background-color: #0B4444 !important;
    border-color: #0B4444 !important;
}

.page-link{
    background-color: #121212 !important;
    border-color: #121212 !important;
}

.bg-light{
    background-color: #171717 !important;
}
